/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.root{
	-fx-background-image: url('/images/arrierePlan.jpeg') ;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center center;	
}



.button:hover {
    -fx-background-color: linear-gradient(#2A5058, blue); 
    -fx-text-fill: white;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
    -fx-font-weight: bold;
}

.combo-box .arrow-button .arrow {
	 -fx-background-color: transparent; 
	 -fx-opacity: 0.0;	
}

.combo-box .arrow-button{
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
    -fx-background-image: url("/images/lock.png");
}

.tableview .column-header.name-column{
	-fx-base : palegreen;
}

.table-row-cell:empty {
    -fx-background-color: lightyellow;
}
 
.table-row-cell:empty .table-cell {
    -fx-border-width: 0.0px;
}
